@model IEnumerable<ProjetoFinanceiro.Web.Models.ClienteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de clientes</h4>

<p>
    <a asp-action="Create">Novo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clienteid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Clienteid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.ActionLink("Atualizar", "Edit", new { id = item.Clienteid  }) |
                    @Html.ActionLink("Detalhes", "Get", new { id = item.Clienteid }) |
                    @Html.ActionLink("Excluir", "Delete", new {id = item.Clienteid  })
                </td>
            </tr>
        }
    </tbody>
</table>
